<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Study Record とは？</h1>
		<p>StudyRecordは特定分野の学習をしている方を対象に作られた学習記録サービスです。</p>
		<p>新しくなにかを学ぶ理由には、興味本位で始めた人、その分野に詳しくなりたい人、人生を本気で変えたくて取り組んでる人、その人だけの様々な理由があると思います。</p>
		<p>学習記録を残すことで自身の学習量の振り返りにご活用頂き、意欲を維持するきっかけの1つにして頂けたら幸いです。前向きに新しく学ぶ人の成功を願っています。</p>
		<%= image_tag 'study-top.jpg', width: 500, height: 300 %>
		<h3>その他機能紹介</h3>
		<p>学習を記録するフォームに加えて、登録者一覧が確認できるフォームを搭載しています。他のユーザーの学習記録も閲覧できるようになっていますので、検索機能をご活用頂き、同じ分野で頑張っている方々を見て、モチベーションアップ等に繋げて頂けたらと思います。</p>
		<h3>共通アカウント</h3>
		<p>お試しで覗いていただける方はこちらの共通アカウントでログインできます。</p>
		<p>メールアドレス: inu@inu</p>
		<p>パスワード: 787878</p>
	</div>
</div>