<% if er.errors.any? %>
	<div class="errors">

	<h3><%= er.errors.count %>件の入力エラー発生</h3>
	<ul>
		<% er.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
    </div>
<% end %>